/* shaerd style */

.display_flax{
    display: flex;
}
:root{
    --text_color:#3A3A3A;
}
.btn{
    padding: 15px;
    background-color: #E02C6D;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: bold;
}
.btn:hover{
    background-color: rgba(127, 255, 212, 0.708);
    color: black;
}
.btn_img{
    width: 15px;
    margin-left: 10px;
}


/* header style */
header{
    max-width:1200px ;
    margin: 0 auto;
    /* border: 1px solid steelblue; */
    padding-bottom: 50px;
   
}
/* nav style */

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    margin: 50px auto;
}
.ph{
    display: none;
    
}
 .li{
    list-style: none;

}
 .ul{
    gap: 35px;
    align-items: center;
 }
a{
    text-decoration: none;
    color: var(--text_color);
}
.Influencer{
    font-size:2rem ;
}

/* header_containt style */
.header_containt{
    justify-content: space-between;
}
.header_containt h1{
    font-size: 4rem;
    margin-bottom: 0px;
}
.header_containt p {
    color: var(--text_color);
    margin-bottom: 20px;
}
.header_img{
    margin-right: 50px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    /* background-position: center; */
    /* background-size: contain;  */
    padding: 30px;
    
}
.meni{
    display: none;
}
.car{
    display: none;
}

/* responsiv style */
@media screen and (max-width:576px) {
      .header_containt{
        flex-direction:column-reverse;
      }  
      
      .ph{
        /* display: block; */
        /* max-width: 300px; */
        display: grid;
        /* gap: 100px; */
        grid-template-columns: repeat(3 , 1fr);
      }
      .Influencer{
        display: none;
      }
      .meni{
        display: block;
      }
      .ul{
        display: none;
      }
      .car{
    display: block;
}
nav{
    justify-content: space-around;
}
.header_img img{
    width: 100%;
    justify-content: center;
}
header{
    background-position: center ;
}
 .header_img{
    margin-right: 0px;
    background-size: 100%;
    /* padding: 100px; */
    margin-bottom: 20px;
    padding-bottom: 50px;
}

.header_text h1{
    font-size: 2rem;
    text-align: center;
}
.header_text p{
    font-size: 1.25rem;
  
    text-align: center;
}

.hb {
        display: block;      
        margin: 0 auto;     
    }
}
